html{
    background-image: url('felix.jpg'); width: 100%; height: 105vh; background-repeat: no-repeat;
    background-size:cover;
    font-family:"helvetica neue" ;
    text-align: center;
    font-size: 10px;
 }

body{
    font-size: 2rem;
    display: flex;
    flex:1;
    min-height: 100vh;
    align-items: center;
} 

.clock{
    width: 30rem;
    height: 30rem;
    border:20px solid white;
    border-radius: 50%;
    margin: 50px auto;
}
.hand{
    width: 140px;
    height: 3px;
    border-radius: 10px;
    background-color: brown;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.2, 0.58, 1);
}

#hour-handy{  
background-color: rgb(243, 26, 214);
transform: rotate(90deg);
width: 110px;
margin-left: 30px;
border-radius: 10px;
}
#second-handy{  
background-color: rgb(116, 114, 6);
transform: rotate(90deg);
width:100px;
margin-left: 38px;
border-radius: 10px;
}
#min-handy{
    background-color: rgb(42, 165, 165);
    width: 130px;
    margin-left:10px
} 
.one-12{
    font-style: italic;
    position: relative;
    left: -1rem;
    top: -1rem;
}

.one-1{
    font-style: italic;
    position: relative;
    left: 6rem;
    top: -3.5rem;
}
.one-2{
    font-style: italic;
    position: relative;
    left: 10rem;
    top: -3rem;
}
.one-3{
    font-style: italic;
    position: relative;
    left: 12rem;
    top: -2rem;
}
.one-4{
    font-style: italic;
    position: relative;
    left: 11rem;
    top: 1rem;
}
.one-5{
    font-style: italic;
    position: relative;
    left: 6rem;
    top: 1.8rem;
}
.one-6{
    font-style: italic;
    position: relative;
    left: -1rem;
    top: -1rem;
}
.one-7{
    font-style: italic;
    position: relative;
    right: 6.8rem;
    bottom: 6.8rem;
}
.one-8{
    font-style: italic;
    position: relative;
    right: 11rem;
    bottom: 16rem;
}
.one-9{
    font-style: italic;
    position: relative;
    right: 12rem;
    bottom: 27.7rem;
}
.one-10{
    font-style: italic;
    position: relative;
    right: 10.5rem;
    bottom: 38rem;
}
.one-11{
    font-style: italic;
    position: relative;
    right: 6.5rem;
    bottom: 47rem;
}

@media (max-width:320px) {
.one-12{
    font-style: italic;
    position: relative;
    left: 1rem;
    top: -1rem;
}
.one-6{
    
        font-style: italic;
        position: relative;
        left: 1rem;
        top: -1rem;   
}
.one-11{
    font-style: italic;
    position: relative;
    right: 6rem;
    bottom: 47rem;
}
.one-5{
    font-style: italic;
    position: relative;
    left: 7.8rem;
    top: 1rem;
}
}